.open__nav {
    position: relative;
    /* z-index: 100; */
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 3rem 2rem 7rem;
    border-top: 1px solid black;
    background-color: white;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user *{
    font-size: 1.4rem;
}

.username {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.user i:hover, .username:hover {
    cursor: pointer;
}

.open__nav__links {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5rem;
}

.open__nav__links li a {
    font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
    
    .open__nav {
        padding: 4rem 2rem 12rem;
        gap: 10rem;
    }

    .username {
        gap: 1.5rem;
        align-items: center;
    }

    .username span {
        font-size: 2rem;
    }

    .user i, .username i {
        font-size: 2.5rem;
    }

    .open__nav__links {
        gap: 7rem;
    }

    .open__nav__links li a {
        font-size: 2rem;
    }
}