.rooms {
    padding: 0 0 10rem 2rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: flex-end;
    gap: 4rem;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120%;
}

.list li {
    display: flex;
    align-items: center;
    gap: .5rem;
    border-bottom: 1px solid black;
    padding: 1rem 0;
}

.list li:hover {
    cursor: pointer;
}

.number {
    font-size: 1.2rem;
    transition: ease-in-out .1s;
}

.list li:hover .number {
    transform: scale(1.2);
    font-weight: 600;
}

.list li:first-of-type {
    padding: 0 0 1rem;
}

.img__wrapper {
    /* width: 30%; */
    height: 100%;
    overflow: hidden;
}

.img__wrapper img {
    display: block;
    height: 100%;
}



@media screen and (min-width: 768px) {

    .rooms {
        padding: 0 4rem 10rem 4rem;
        align-items: center;
    }

    .list {
        width: 50%;
    }

    .number {
        font-size: 1.6rem;
    }

    .img__wrapper {
        width: auto;
        height: 100%;
    }

}