.sale {
    padding: 6rem 2rem 10rem;
    display: flex;
    flex-direction: column;
}

.sale__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ver__todo {
    display: flex;
    justify-content: space-around;
    gap: .5rem;
}

.ver__todo * {
    font-weight: 500;
}

.sale__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 42.5%;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-top: 2rem;
}

.card__img {
    width: 100%;
}

.card__info {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: .5rem;
}

.card__text {
    max-width: 60%;
    overflow-wrap: break-word;
    hyphens: auto;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.card__price {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.card__price span:first-of-type {
    text-decoration: line-through;
}