@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Variables */
:root {
  --text-green: #4BB543;
  --text-gray: #aaaaaa;
  --text-red: #a94442;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}



/* General styles */

p, a, span, button {
  font-size: 1.2rem;
}

h3{
  font-weight: 400;
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.logo {
  font-weight: 500;
  font-size: 2rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 400;
}

.text__green {
  color: var(--text-green);
}

.text__gray {
  color: var(--text-gray);
}

.text__red {
  color: var(--text-red);
}


@media screen and (min-width: 768px) {

  p, a, span, button {
    font-size: 1.6rem;
  }

  h3{
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  .logo {
    font-size: 4rem;
  }

  .section__title {
    font-size: 3rem;
  }
}